/* main css */

body {
	background: #f9e933;
	font-family: 'Droid Sans', sans-serif;
	font-size: 100%;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
} 

header {
	background: white;
	overflow: auto;
	border-bottom: 1px solid gray;
}

h1, h2, h3, h4 {
	font-family: 'Ubuntu', sans-serif;
}

h1 {
	font-size: 3.0em;
}

h2 {
	font-size: 2.0em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1.0em;
}

h5 {
	font-size: 1.2em;
}

header h1 {
	float: left;
	width: 570px;
	font-style: italic;
	color: red;
	margin: 30px 0;
}

header nav {
	float: right;
	width: 240px;
	margin-top: 30px;
	padding-left: 45px;
}

nav a {
	text-decoration: none;
	color: red;
}

main {
	background: white;
	display: block;
	overflow: auto;
}

main .container {
	margin-top: 10px;
}

main h2 {
	font-weight: bold;
	margin: 30px 0 15px 0;
}


h2 ~ h3 {
	margin-top: 30px;
	margin-bottom: 15px;
	font-weight: bold;
}

main img {
	width: 150px;
	margin-left: 65px;
	margin-bottom: 30px;
}

footer {
	margin-top: 45px;
	clear: both;
}

footer h5 {
	margin-bottom: 20px;
}

h5 + p {
	font-style: italic;
	color: red;
}

.sitemap h5 {
	margin-left: 45px;
}

.sitemap ul {
	margin-left: 45px;
}

.sitemap ul {
	display: inline-block;
}

.sitemap + ul {
	float: left;
}

.sitemap a {
	text-decoration: none;
	color: red;
}

.right {
	float: right;
}

.left {
	float: left;
}


.column-one-third {
	width: 285px;
}

.column-two-third {
	width: 570px;
}